<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://t9-af-2020630067.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3bcd83a4-12de-4f3a-89a8-657a22a3e0a6/resourcegroups/T9/providers/Microsoft.Web/sites/T9-AF-2020630067</ResourceId>
    <UserName>$T9-AF-2020630067</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://t9-af-2020630067.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>